/****** GLOBAIS ******/
.wrap{ width: 990px; margin: 0 auto; position:relative; padding:0;}

/****** TOPO ******/
#topo{ background:#efefef; height:136px; width:100%;}
#topo #menu-superior{ width:100%; background:url(img/bg-menusuperior.jpg) top center repeat-x; display: inline-block; overflow:visible;}

/****** LOGO ******/
#topo #menu-superior #logo{ position:absolute; top:0; z-index:10; left:30px; margin:0;}
#topo #menu-superior #logo a{display:block; float:left;}
#topo #menu-superior #logo a img{float:left;}

/****** MENU PRINCIPAL ******/
#topo #menu-superior ul{ height:68px; float:right; margin:0; padding: 0 30px 0 0;}
#topo #menu-superior ul li{ float:left; list-style-type:none;}
#topo #menu-superior ul li a{ display:block; float:left; height:62px; line-height:62px; padding:0 15px; margin:0 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:13px; color:#fff; font-weight:400; text-decoration:none; border-bottom:3px solid #8d1a13; border-top:3px solid #8d1a13;}
#topo #menu-superior ul li:hover a, #topo #menu-superior ul li a:hover, #topo #menu-superior ul li a.active{  border-bottom:3px solid #fff;}
#topo #menu-superior ul li input{ display:block; float:left; height:68px; width:300px; line-height:68px; padding:0 20px; margin:0 0 0 6px; font-family: 'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:13px; color:#fff; font-weight:400; text-decoration:none; background:#6e6e6e; border:none;}
#topo #menu-superior ul li input:hover{ background-color:#515151;}
#topo #menu-superior ul li input.submit{ display:block; margin:0 0 0 -60px; display:block; width:60px; background-color:transparent; background:url(img/ico-busca.png) center center no-repeat;}

/****** SUBMENU ******/
#topo #menu-superior ul li ul{ position:absolute; background:#fff; width:720px; top:68px; left:200px; display:none; height:0;}
#topo #menu-superior ul li ul li{ float:left;}
#topo #menu-superior ul li ul li a{ color:#333; border:none; border-bottom:3px solid #fff; border-top:3px solid #fff; height:62px; line-height:62px;}
#topo #menu-superior ul li ul li a:hover, #topo #menu-superior ul li ul li a.active{ border-bottom:3px solid #8d1a13;}

/****** DEPOIMENTOS ******/
#depoimentos{ width: 100%; float: left; background: #e6e6e6;}
#depoimentos .wrap{ width: 930px;}
#depoimentos p{ float: left; background: url(img/aspas.jpg) top left no-repeat; padding: 0 75px 0 100px; margin: 80px 0; width: 540px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 28px; color: #6e6e6e;}
#depoimentos span.autor{ font-weight: 600; padding-top: 30px;}
#depoimentos span.autor-info{ line-height: 17px;}
#depoimentos img{ float: left; margin-top: 100px;}

/****** RODAPÉ ******/
#rodape{ float: left; width: 100%; background: #6e6e6e; height: 300px;}
#rodape .wrap{ padding-top: 50px; width: 930px;}
#rodape a img{ float: left;}
#rodape ul{ float: left; margin: 30px 0 0 0; padding: 0; width: 180px;}
#rodape ul.primeiro{ margin-left: 110px;}
#rodape ul.mestrado{ width: 200px;}
#rodape ul.contato{ width: 60px;}
#rodape ul.contato li{ float: right;}
#rodape ul li{ list-style-type: none;}
#rodape ul li a{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 13px; line-height: 36px; color: #2e2e2e; text-decoration: none;}
#rodape ul li a:hover{ text-decoration: underline;}
#rodape ul li ul{ margin: 0;}
#rodape ul li ul li a{ font-weight: 400;}

/****** HOME >> Destaques ******/
#destaques{ background:url(img/bg-destaques.jpg) center top repeat-x; width:100%; display:inline-block;}
#destaques #container{ margin-left: 30px;}
#destaques #container div.destaque{ height:376px; width:930px;}
#destaques #container div.destaque h2{ position:absolute; top:0; right:0; width:210px; height:242px; padding-top:40px; overflow:hidden; line-height:30px; z-index:10; margin:0;}
#destaques #container div.destaque h2 a{ font-family:'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:25px; line-height:30px; color:#6d6d6d; font-weight:200; text-decoration:none;}
#destaques #container div.destaque h2 a:hover{ text-decoration:underline;}
#destaques #container div.destaque img{ margin-left:240px; display:block; z-index:20; position:absolute; top:0; right:0;}
#destaques #container div.destaque a.botao{ display:block; position:absolute; top:0; right:0; z-index:30; width:690px; height:376px;}
#destaques #container div.destaque span{}
#destaques #container div.destaque iframe{ position:absolute; top:0; right:0; z-index:40;}
#destaques #container div.destaque a.video{ background:url(img/destaque-btvideo.png) center center no-repeat;}
#destaques #container div.destaque a.video:hover{ background:url(img/destaque-btvideo-hover.png) center center no-repeat;}
#destaques ul{ position:absolute; bottom:0; left:159px; margin:0; z-index:30; padding:0;}
#destaques ul li{ float:left; list-style-type:none; margin-left:1px;}
#destaques ul li a#proximo-destaque, #destaques ul li a#destaque-anterior{ display:block; width:54px; height:54px; background-image:url(img/destaques-nav.jpg); float:left;}
#destaques ul li a#proximo-destaque{ background-position:top right;}
#destaques ul li a#destaque-anterior{ background-position:top left;}
#destaques ul li a#proximo-destaque:hover{ background-position:bottom right;}
#destaques ul li a#destaque-anterior:hover{ background-position:bottom left;}

/****** HOME >> Lista de filtros ******/
#lista-alunos{ width:100%; float:left; padding-bottom:60px;}
#lista-alunos h3{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:200; font-size:25px; line-height:25px; color:#8d1a13; margin:50px 0 0 30px; width: 930px;}
#lista-alunos p.descricao{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:28px; color:#6e6e6e; margin:0; padding-bottom:30px; border-bottom:1px solid #ccc; margin-left: 30px; width: 930px;}

/****** HOME >> Menu de filtros ******/
#lista-alunos ul#sidebar{ float:left; width:210px; margin:30px 0 0 30px; padding:0;}
#lista-alunos ul#sidebar li{ list-style-type:none; position:relative;}
#lista-alunos ul#sidebar li a{ display:block; position:relative; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; letter-spacing:-1px; color:#8d1a13; text-transform:uppercase; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; width:208px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#lista-alunos ul#sidebar li a span.seta{ display:none; height:48px; width:6px; position:absolute; top:0; right:-6px; background:url(img/filtros-seta.png) left center no-repeat;}
#lista-alunos ul#sidebar li a.submit{ background:url(img/botao-filtros-bullet.png) #8d1a13 10px center no-repeat; color:#fff; border-color:#464646;}
#lista-alunos ul#sidebar li a.submit:hover{ background-color:#500e0a;}

#lista-alunos ul#sidebar li ul.selecionados{ margin:20px 0 20px 0; padding:0; background: #fff;}
#lista-alunos ul#sidebar li ul.selecionados li{}
#lista-alunos ul#sidebar li ul.selecionados li a{ text-transform:none; color#454545; background-image:url(img/subfiltros-bullet.png); border:none; line-height:28px; height:28px; letter-spacing:normal;}
#lista-alunos ul#sidebar li ul.selecionados li a:hover{ background-color:transparent;}

#lista-alunos ul#sidebar li ul.tudo{ margin:0; padding:6px 0; border-top:3px solid #8d1a13; background-color:#ebebeb; position:absolute; top:0; left:230px; width:702px; display:none; z-index: 30;}
#lista-alunos ul#sidebar li ul.tudo li{ float:left;}
#lista-alunos ul#sidebar li ul.tudo li a{ margin:6px 12px; border:1px dashed #6e6e6e; background-image:none; color:#6e6e6e; text-transform:lowercase; letter-spacing:0; text-align:center; text-indent:0;}
#lista-alunos ul#sidebar li ul.tudo li a.selecionados, #lista-alunos ul#sidebar li ul.tudo li a:hover{ background-color:#f5f5f5; border-style:solid;}

/****** HOME >> Conteúdo ******/
#lista-alunos ul#conteudo{ float: left; width: 720px; padding: 23px 15px; margin: 0; z-index: 10;}
#lista-alunos ul#conteudo li{ float: left; width: 210px; margin: 0 15px 60px 15px; padding-top: 7px; list-style-type:none; position:relative;}
#lista-alunos ul#conteudo li a{ display: block; float: left; text-decoration: none; color: #6e6e6e;}
#lista-alunos ul#conteudo li img{ float: left;}
#lista-alunos ul#conteudo li h4{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 18px; letter-spacing: -1px; line-height: 50px; height: 50px; border-bottom: 1px solid #6e6e6e; width: 190px; padding: 0 10px; margin: 0;}
#lista-alunos ul#conteudo li .info{ position: absolute; top: 220px; left: 0; padding: 30px 0; display: none; background:#8d1a13; z-index: 20;}
#lista-alunos ul#conteudo li .info p{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 13px; width: 190px; padding: 0 10px; margin: 0; color: #fff;}
#lista-alunos ul#conteudo li .info span{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 13px; width: 190px; padding: 20px 10px 0 10px; margin: 0; color: #232323;}

/****** ALUNO >> Header ******/
#header{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.aluno .wrap{ width: 930px;}
#header.aluno #info{ float: left; width: 720px; height: 282px;}
#header.aluno #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 70px 0 10px 0;}
#header.aluno #info a{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 25px; color: #8d1a13; text-decoration: none;}
#header.aluno #info a:hover{ text-decoration: underline;}
#header.aluno #info p { float: left; margin: 0; padding: 0; width: 100%;  font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 25px; color: #8d1a13;}
#header.aluno #info img{ float: left; padding-left: 8px;}
#header.aluno #info ul{ float: left; margin: 0; padding: 30px 0 0 0; width: 100%;}
#header.aluno #info ul li{ list-style-type: none; float: left; width: 50%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 37px; color: #454545;}
#header.aluno #info ul li a{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 37px; color: #454545; text-decoration: none;}
#header.aluno #info ul li img{ padding: 2px 8px 2px 0;}
#header.aluno img.foto{ border-top: 9px solid #8d1a13; padding: 0; position: absolute; top: 0; right: 0;}

/****** ALUNO >> Detalhes (turma antiga e nova )******/
#detalhes{ width: 100%; float: left;}
#detalhes.turma-antiga #conteudo{margin: 0; padding: 50px 0 70px 30px; float: left; width: 720px}
#detalhes.turma-antiga #conteudo ul#abas{margin: 0; padding: 0; float: left; width: 720px}
#detalhes.turma-antiga #conteudo ul#abas li{list-style-type: none; float: left;}
#detalhes.turma-antiga #conteudo ul#abas li a{ display:inline-block; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; padding-right: 15px; margin-right: 20px; color:#8d1a13; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#detalhes.turma-antiga #conteudo ul#abas li a:hover, #detalhes.turma-antiga #conteudo ul#abas li a.active{ background:#8d1a13 url(img/filtros-bullet-hover.png) 10px center no-repeat; color: #fff;}
#detalhes.turma-antiga #conteudo div{ margin: 0; padding: 0;}
#detalhes.turma-antiga #conteudo .container{ float: left;}
#detalhes.turma-antiga #conteudo .container h4{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.turma-antiga #conteudo .container ul{ margin: 0; padding: 0;}
#detalhes.turma-antiga #conteudo .container ul li{ list-style-type: none; width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:18px; margin: 0; padding:0; color: #454545;}
#detalhes.turma-nova #conteudo{margin: 0; padding: 50px 0 70px 30px; float: left; width: 720px}
#detalhes.turma-nova #conteudo h3{ width: 610px; padding-bottom: 40px; margin: 0; border-bottom: 1px solid #6e6e6e; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:25px; line-height:35px; color:#8d1a13;}
#detalhes.turma-nova #conteudo p{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.turma-nova #conteudo p strong{ font-weight: 600;}
#detalhes.turma-nova #conteudo h4{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:28px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.turma-nova #conteudo ul{ margin: 0; padding: 0;}
#detalhes.turma-nova #conteudo ul li{ list-style-type: none; width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:28px; margin: 0; padding:0; color: #8d1a13;}

/****** ALUNO >> Resumo ******/
#detalhes #resumo{ width: 210px; float: left; background: #8d1a13; z-index: 30; padding-bottom: 50px; margin-bottom: 40px;}
#detalhes #resumo h4{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 15px; line-height: 25px; color: #232323; width: 190px; padding: 40px 10px 0 10px; margin: 0; float: left;}
#detalhes.turma-nova #resumo h4{ text-transform: uppercase; line-height: 20px; padding-bottom: 3px;}
#detalhes #resumo ul{ float: left; width: 190px; padding: 0 10px; margin: 0;}
#detalhes #resumo ul li{ float: left; width: 190px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 15px; line-height: 25px; color: #fff; list-style-type: none;}
#detalhes #resumo ul li span{ font-size: 13px; padding-bottom: 20px; float: left;}

/****** ÁREAS DE ÊNFASE >> Header ******/
#header.areas-enfase{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.areas-enfase .wrap{ width: 930px;}
#header.areas-enfase #info{ float: left; width: 720px; height: 146px;}
#header.areas-enfase #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** ÁREAS DE ÊNFASE >> Detalhes ******/
#detalhes.areas-enfase{ width: 100%; float: left;}
#detalhes.areas-enfase #conteudo{margin: 0; padding: 50px 0 70px 30px; float: left; width: 720px}
#detalhes.areas-enfase #conteudo ul#abas{margin: 0; padding: 0; float: left; width: 720px}
#detalhes.areas-enfase #conteudo ul#abas li{list-style-type: none; float: left; margin-bottom: 15px;}
#detalhes.areas-enfase #conteudo ul#abas li a{ display:inline-block; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:17px; padding: 13px 15px 13px 44px; margin-right: 20px; color:#8d1a13; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:20px; width: 270px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#detalhes.areas-enfase #conteudo ul#abas li a.maior{ height: 30px; padding: 8px 15px 8px 44px;}
#detalhes.areas-enfase #conteudo ul#abas li a:hover, #detalhes.areas-enfase #conteudo ul#abas li a.active{ background:#8d1a13 url(img/filtros-bullet-hover.png) 10px center no-repeat; color: #fff;}
#detalhes.areas-enfase #conteudo div{ margin: 0; padding: 0;}
#detalhes.areas-enfase #conteudo .container{ float: left;}
#detalhes.areas-enfase #conteudo .container h4{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.areas-enfase #conteudo .container ul{ margin: 0; padding: 0;}
#detalhes.areas-enfase #conteudo .container ul li{ list-style-type: none; width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:18px; margin: 0; padding:0; color: #454545;}

/****** ÁREAS DE ÊNFASE >> Resumo ******/
#detalhes.areas-enfase #resumo{ width: 210px; position: relative; float: left; background: #8d1a13; z-index: 30; padding-bottom: 50px; margin-bottom: 40px; margin-top: -146px;}
#detalhes.areas-enfase #resumo img{ border-top: 9px solid #8d1a13; padding: 0; float: left;}
#detalhes.areas-enfase #resumo span{ position: absolute; top: 232px; left: 0; display: block; width: 210px; height: 50px; line-height: 50px; text-align: center; color: #fff; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; background: url(img/bg-preto-60.png) top left repeat;}
#detalhes.areas-enfase #resumo h4{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 25px; color: #fff; width: 170px; padding: 40px 20px 0 20px; margin: 0; float: left;}

/****** PROGRAMA DE INTERCÂMBIO >> Header ******/
#header.programa-intercambio{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.programa-intercambio .wrap{ width: 930px;}
#header.programa-intercambio #info{ float: left; width: 720px; height: 146px;}
#header.programa-intercambio #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** PROGRAMA DE INTERCÂMBIO >> Navegação ******/
#navegacao{ width: 100%; float: left;}
#navegacao .wrap{ width: 930px;}
#navegacao p{ width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:40px 0 20px 0; color: #454545;}
#navegacao ul#abas{margin: 0; padding: 0; float: left; width: 930px}
#navegacao ul#abas li{list-style-type: none; float: left;}
#navegacao ul#abas li a{ display:inline-block; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; width: 193px; padding-right: 15px; margin-right: 30px; color:#8d1a13; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#navegacao ul#abas li a.last{ margin-right: 0;}
#navegacao ul#abas li a:hover, #navegacao ul#abas li a.active{ background:#8d1a13 url(img/filtros-bullet-hover.png) 10px center no-repeat; color: #fff;}

/****** PROGRAMA DE INTERCÂMBIO >> Detalhes ******/
#detalhes.programa-intercambio{ margin-top: 80px;}
#detalhes.programa-intercambio .container{ float: left; padding-bottom: 50px; padding-left: 30px;}
#detalhes.programa-intercambio .container h4{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding: 0 0 ; color: #8d1a13;}
#detalhes.programa-intercambio .container ul{ margin: 0; padding: 20px 0 20px 30px;}
#detalhes.programa-intercambio .container ul li{ list-style-type: none; width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; margin: 0; padding: 0; color: #454545;}
#detalhes.programa-intercambio .container ul li h5{ font-weight:600; font-size:15px; line-height:18px; margin: 0; padding: 0; color: #454545;}
#detalhes.programa-intercambio .container ul li a{font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:20px; margin: 0; padding: 0; color: #7d7d7d; text-decoration: none; background: url(img/bullet01.jpg) left 2px no-repeat; padding-left: 20px;}
#detalhes.programa-intercambio .container ul li a:hover{ text-decoration: underline;}
#detalhes.programa-intercambio .container ul li p{margin: 0; padding: 0;}
#detalhes.programa-intercambio .container ul li p a{ background: none; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:20px; margin: 0; padding: 0; color: #8d1a13;}
#detalhes.programa-intercambio .container #conteudo{margin: 0; padding: 0 0 70px 0; float: left; width: 720px}
#detalhes.programa-intercambio .container #conteudo p{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:28px; margin: 0; padding: 0 0 40px 0; color: #454545;}
#detalhes.programa-intercambio .container #conteudo ul{ margin: 0; padding: 30px 0 0 0;}
#detalhes.programa-intercambio .container #conteudo ul li{ list-style-type: none; width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:28px; margin: 0; padding: 0 0 30px 0; color: #454545;}

/****** PROGRAMA DE INTERCÂMBIO >> Resumo ******/
#detalhes.programa-intercambio #resumo{ width: 210px; position: relative; float: left; background: #8d1a13; z-index: 30; padding-bottom: 50px; margin-bottom: 40px;}
#detalhes.programa-intercambio #resumo h4{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 25px; color: #fff; width: 170px; padding: 40px 20px 0 20px; margin: 0; float: left;}

/****** CATEDRAS >> Header ******/
#header.catedras{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.catedras .wrap{ width: 930px;}
#header.catedras #info{ float: left; width: 930px; height: 146px;}
#header.catedras #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}


/****** CATEDRAS >> Detalhes ******/
#detalhes.catedras #conteudo{margin: 0; padding: 50px 0 140px 30px; float: left; width: 930px; background: url(img/clientes.jpg) right 280px no-repeat;}
#detalhes.catedras #conteudo h3{ width: 610px; padding-bottom: 40px; margin: 0; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:25px; line-height:35px; color:#8d1a13;}
#detalhes.catedras #conteudo p{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.catedras #conteudo p strong{ font-weight: 600;}
#detalhes.catedras #conteudo h4{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.catedras #conteudo h5{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:18px; margin: 0; padding:0; color: #8d1a13;}

/****** EXTRA-CLASSE >> Header ******/
#header.extra-classe{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.extra-classe .wrap{ width: 930px;}
#header.extra-classe #info{ float: left; width: 930px; height: 146px;}
#header.extra-classe #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** EXTRA-CLASSE >> Navegação ******/
#navegacao.extra-classe{ width: 100%; float: left; margin-top: 70px;}
#navegacao.extra-classe .wrap{ width: 930px;}
#navegacao.extra-classe p{ width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:40px 0 20px 0; color: #454545;}
#navegacao.extra-clsse ul#abas{margin: 0; padding: 0; float: left; width: 930px}
#navegacao.extra-clsse ul#abas li{list-style-type: none; float: left;}
#navegacao.extra-clsseul #abas li a{ display:inline-block; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; width: 193px; padding-right: 15px; margin-right: 30px; color:#8d1a13; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#navegacao.extra-clsse ul#abas li a.last{ margin-right: 0;}
#navegacao.extra-clsse ul#abas li a:hover, #navegacao.extra-clsse ul#abas li a.active{ background:#8d1a13 url(img/filtros-bullet-hover.png) 10px center no-repeat; color: #fff;}

/****** EXTRA-CLASSE >> Detalhes ******/
#detalhes.extra-classe .container{margin: 0; padding: 50px 0 70px 30px; float: left; width: 930px;}
#detalhes.extra-classe .container #conteudo{ width: 610px; float: left;}
#detalhes.extra-classe .container #conteudo p{ width: 610px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:0 0 40px 0; color: #454545;}
#detalhes.extra-classe .container #conteudo p strong{ font-weight: 600;}
#detalhes.extra-classe .container img{ float: right;}

/****** SOBRE >> Header ******/
#header.sobre{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.sobre .wrap{ width: 930px;}
#header.sobre #info{ float: left; width: 930px; height: 146px;}
#header.sobre #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** SOBRE >> Detalhes ******/
#detalhes.sobre #conteudo{margin: 0; padding: 50px 0 140px 30px; float: left; width: 930px; background: url(img/sobre.jpg) right 50px no-repeat;}
#detalhes.sobre #conteudo h3{ width: 610px; padding-bottom: 40px; border-bottom: 1px solid #454545; margin: 0; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:25px; line-height:35px; color:#8d1a13;}
#detalhes.sobre #conteudo p{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.sobre #conteudo p strong{ font-weight: 600;}
#detalhes.sobre #conteudo h4{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding:40px 0 0 0; color: #454545;}
#detalhes.sobre #conteudo h5{ width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:18px; margin: 0; padding:0; color: #8d1a13;}

/****** DEPOIMENTOS >> Header ******/
#header.depoimentos{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.depoimentos .wrap{ width: 930px;}
#header.depoimentos #info{ float: left; width: 930px; height: 146px;}
#header.depoimentos #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** DEPOIMENTOS >> Detalhes ******/
#detalhes.depoimentos ul{ width: 100%; margin: 0; padding: 0; float: left;}
#detalhes.depoimentos ul li{ list-style-type: none; width: 100%; margin: 0; padding: 0; float: left; cursor: pointer; background: #e6e6e6;}
#detalhes.depoimentos ul li .wrap{ width: 930px; margin: 0 auto; padding: 55px 0 55px 0; background-position: center right; background-repeat: no-repeat;}
#detalhes.depoimentos ul li .wrap p{ display: none; width: 510px; padding:0 200px 40px 100px; margin: 0; background: url(img/aspas.png) left top no-repeat; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:28px; color: #fff;}
#detalhes.depoimentos ul li .wrap h4{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; line-height:18px; margin: 0; padding:0 0 0 100px; color: #2e2e2e;}
#detalhes.depoimentos ul li .wrap h5{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:18px; margin: 0; padding:0 0 0 100px; color: #2e2e2e;}
#detalhes.depoimentos ul li.impar{ background: #fff;}
#detalhes.depoimentos ul li:hover, #detalhes.depoimentos ul li.aberto{background: #8d1a13;}
#detalhes.depoimentos ul li:hover .wrap h4, #detalhes.depoimentos ul li.aberto .wrap h4{color: #fff;}
#detalhes.depoimentos ul li:hover .wrap h5, #detalhes.depoimentos ul li.aberto .wrap h5{color: #fff;}

/****** CONTATO >> Header ******/
#header.contato{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.contato .wrap{ width: 930px;}
#header.contato #info{ float: left; width: 720px; height: 146px;}
#header.contato #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** CONTATO >> Detalhes ******/
#detalhes.contato{ width: 100%; float: left;}
#detalhes.contato #conteudo{margin: 0; padding: 50px 0 70px 30px; float: left; width: 720px}
#detalhes.contato #conteudo p{ margin: 0; padding: 0; width: 560px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; color: #454545;}
#detalhes.contato #conteudo form{ width: 610px; float: left; padding-top: 50px;}
#detalhes.contato #conteudo form input{ width: 570px; height: 25px; float: left; margin-bottom: 30px; padding: 12px 20px 12px 20px; background: #ebebeb; border: none; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height: 25px; color: #757575;}
#detalhes.contato #conteudo form textarea{ width: 570px; height: 200px; float: left; margin-bottom: 30px; padding: 12px 20px 12px 20px; background: #ebebeb; border: none; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height: 25px; color: #757575;}
#detalhes.contato #conteudo form input#caderno{ width: 25px; margin: 0;}
#detalhes.contato #conteudo form input#endereco{ margin-top: 30px;}
#detalhes.contato #conteudo form input#cep{ width: 250px; margin:0 30px 0 0;}
#detalhes.contato #conteudo form input#cidade{ width: 250px;margin-bottom: 0;}
#detalhes.contato #conteudo form input#submit{ width: 120px; height: 49px; background: url(img/submit.jpg) left top no-repeat; margin-top: 30px;}
#detalhes.contato #conteudo form input#submit:hover{ background-position: left bottom; }
#detalhes.contato #conteudo form label{ float: left; width: 585px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height: 25px; color: #454545;}

/****** CONTATO >> Resumo ******/
#detalhes.contato #resumo{ width: 210px; position: relative; float: left; background: #8d1a13; z-index: 30; padding-bottom: 50px; margin-bottom: 40px; margin-top: -146px;}
#detalhes.contato #resumo h4{ margin: 0; padding: 40px 20px 30px 65px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:600; font-size: 15px; line-height: 20px; color: #fff; text-transform: uppercase; background: url(img/bullet2.jpg) 20px 41px no-repeat;}
#detalhes.contato #resumo h5{ margin: 0; padding: 0 20px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 14px; line-height: 24px; color: #fff;}

/****** RESULTADO DE BUSCA >> Header ******/
#header.resultado-busca{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header.resultado-busca .wrap{ width: 930px;}
#header.resultado-busca #info{ float: left; width: 930px; height: 146px;}
#header.resultado-busca #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 55px 0 10px 0;}

/****** RESULTADO DE BUSCA >> Detalhes ******/
#detalhes.resultado-busca .wrap{ width: 960px; padding: 0 15px;}
#detalhes.resultado-busca .argumento{ width: 930px; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0 0 0 15px; padding:50px 0; color: #454545;}
#detalhes.resultado-busca .argumento span{ font-weight:600; color: #8d1a13;}
#detalhes.resultado-busca #navegacao{ width: 930px; float: left; border-top: 1px solid #6e6e6e;  border-bottom: 1px solid #6e6e6e; padding: 30px 0; margin-left: 15px;}
#detalhes.resultado-busca #navegacao p{ width: 170px; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size: 15px; line-height: 28px; margin: 0; padding:0; color: #454545;}
#detalhes.resultado-busca #navegacao form{ float: left; margin: 0; padding: 4px 0 0 0;}
#detalhes.resultado-busca #navegacao form select{ float: left; margin: 0; padding: 3px 0 0 0;}
#detalhes.resultado-busca #navegacao form select option{ float: left; margin: 0; padding: 0;}
#detalhes.resultado-busca #navegacao #paginacao{ float: right;}
#detalhes.resultado-busca #navegacao #paginacao p{ float: left; margin: 0; padding: 0 20px; width: auto; text-align: center;}
#detalhes.resultado-busca #navegacao #paginacao p span{ font-weight:600; color: #8d1a13;}
#detalhes.resultado-busca #navegacao #paginacao a{ float: left; display: block; width: 21px; height: 22px; overflow: hidden; text-indent: -99999px; background-image: url(img/paginacao.jpg); margin-top: 4px;}
#detalhes.resultado-busca #navegacao #paginacao a#prev{ background-position: left bottom;}
#detalhes.resultado-busca #navegacao #paginacao a#prev:hover{ background-position: right bottom;}
#detalhes.resultado-busca #navegacao #paginacao a#next{ background-position: left top;}
#detalhes.resultado-busca #navegacao #paginacao a#next:hover{ background-position: right top;}

/****** RESULTADO DE BUSCA >> Lista de alunos ******/
#detalhes.resultado-busca ul#conteudo{ float: left; width: 960px; margin: 0; padding: 30px 0 70px 0; z-index: 10;}
#detalhes.resultado-busca ul#conteudo li{ float: left; width: 210px; margin: 0 15px 60px 15px; padding-top: 7px; list-style-type:none; position:relative;}
#detalhes.resultado-busca ul#conteudo li a{ display: block; float: left; text-decoration: none; color: #6e6e6e;}
#detalhes.resultado-busca ul#conteudo li img{ float: left;}
#detalhes.resultado-busca ul#conteudo li h4{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 18px; letter-spacing: -1px; line-height: 50px; height: 50px; border-bottom: 1px solid #6e6e6e; width: 190px; padding: 0 10px; margin: 0;}
#detalhes.resultado-busca ul#conteudo li .info{ position: absolute; top: 220px; left: 0; padding: 30px 0; display: none; background:#8d1a13; z-index: 20;}
#detalhes.resultado-busca ul#conteudo li .info p{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 13px; width: 190px; padding: 0 10px; margin: 0; color: #fff;}
#detalhes.resultado-busca ul#conteudo li .info span{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 13px; width: 190px; padding: 20px 10px 0 10px; margin: 0; color: #232323;}

