/****** GLOBAIS ******/
.wrap{ width: 990px; margin: 0 auto; position:relative; padding:0;}

/****** TOPO ******/
#topo{ background:#efefef; height:136px; width:100%;}
#topo #menu-superior{ width:100%; background:url(img/bg-menusuperior.jpg) top center repeat-x; display: inline-block; overflow:visible;}

/****** LOGO ******/
#topo #menu-superior #logo{ position:absolute; top:0; z-index:10; left:30px; margin:0;}
#topo #menu-superior #logo a{display:block; float:left;}
#topo #menu-superior #logo a img{float:left;}

/****** MENU PRINCIPAL ******/
#topo #menu-superior ul{ height:68px; float:right; margin:0;}
#topo #menu-superior ul li{ float:left; list-style-type:none;}
#topo #menu-superior ul li a{ display:block; float:left; height:62px; line-height:62px; padding:0 15px; margin:0 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:13px; color:#fff; font-weight:400; text-decoration:none; border-bottom:3px solid #8d1a13; border-top:3px solid #8d1a13;}
#topo #menu-superior ul li:hover a, #menu-superior ul li a:hover{  border-bottom:3px solid #fff;}
#topo #menu-superior ul li input{ display:block; float:left; height:68px; width:300px; line-height:68px; padding:0 20px; margin:0 0 0 6px; font-family: 'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:13px; color:#fff; font-weight:400; text-decoration:none; background:#6e6e6e; border:none;}
#topo #menu-superior ul li input:hover{ background-color:#515151;}
#topo #menu-superior ul li input.submit{ display:block; margin:0 0 0 -60px; display:block; width:60px; background-color:transparent; background:url(img/ico-busca.png) center center no-repeat;}

/****** SUBMENU ******/
#topo #menu-superior ul li ul{ position:absolute; background:#fff; width:900px; top:68px; left:0; display:none; height:0;}
#topo #menu-superior ul li ul li{ float:left;}
#topo #menu-superior ul li ul li a{ color:#333; border:none; border-bottom:3px solid #fff; border-top:3px solid #fff; height:62px; line-height:62px;}
#topo #menu-superior ul li ul li a:hover{ border-bottom:3px solid #8d1a13;}

/****** DEPOIMENTOS ******/
#depoimentos{ width: 100%; float: left; background: #e6e6e6;}
#depoimentos .wrap{ width: 930px;}
#depoimentos p{ float: left; background: url(img/aspas.jpg) top left no-repeat; padding: 0 75px 0 100px; margin: 80px 0; width: 540px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 28px; color: #6e6e6e;}
#depoimentos span.autor{ font-weight: 600; padding-top: 30px;}
#depoimentos span.autor-info{ line-height: 17px;}
#depoimentos img{ float: left; margin-top: 100px;}

/****** RODAPÉ ******/
#rodape{ float: left; width: 100%; background: #6e6e6e; height: 300px;}
#rodape .wrap{ padding-top: 50px; width: 930px;}
#rodape a img{ float: left;}
#rodape ul{ float: left; margin: 30px 0 0 0; padding: 0; width: 180px;}
#rodape ul.primeiro{ margin-left: 110px;}
#rodape ul.mestrado{ width: 200px;}
#rodape ul.contato{ width: 60px;}
#rodape ul.contato li{ float: right;}
#rodape ul li{ list-style-type: none;}
#rodape ul li a{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 13px; line-height: 36px; color: #2e2e2e; text-decoration: none;}
#rodape ul li a:hover{ text-decoration: underline;}
#rodape ul li ul{ margin: 0;}
#rodape ul li ul li a{ font-weight: 400;}

/****** HOME: DESTAQUES ******/
#destaques{ background:url(img/bg-destaques.jpg) center top repeat-x; width:100%; display:inline-block;}
#destaques #container{ margin-left: 30px;}
#destaques #container div.destaque{ height:376px; width:930px;}
#destaques #container div.destaque h2{ position:absolute; top:0; right:0; width:210px; height:242px; padding-top:40px; overflow:hidden; line-height:30px; z-index:10; margin:0;}
#destaques #container div.destaque h2 a{ font-family:'Raleway', Helvetica, Arial, sans-serif; text-transform:uppercase; font-size:25px; line-height:30px; color:#6d6d6d; font-weight:200; text-decoration:none;}
#destaques #container div.destaque h2 a:hover{ text-decoration:underline;}
#destaques #container div.destaque img{ margin-left:240px; display:block; z-index:20; position:absolute; top:0; right:0;}
#destaques #container div.destaque a.botao{ display:block; position:absolute; top:0; right:0; z-index:30; width:690px; height:376px;}
#destaques #container div.destaque span{}
#destaques #container div.destaque iframe{ position:absolute; top:0; right:0; z-index:40;}
#destaques #container div.destaque a.video{ background:url(img/destaque-btvideo.png) center center no-repeat;}
#destaques #container div.destaque a.video:hover{ background:url(img/destaque-btvideo-hover.png) center center no-repeat;}
#destaques ul{ position:absolute; bottom:0; left:159px; margin:0; z-index:30; padding:0;}
#destaques ul li{ float:left; list-style-type:none; margin-left:1px;}
#destaques ul li a#proximo-destaque, #destaques ul li a#destaque-anterior{ display:block; width:54px; height:54px; background-image:url(img/destaques-nav.jpg); float:left;}
#destaques ul li a#proximo-destaque{ background-position:top right;}
#destaques ul li a#destaque-anterior{ background-position:top left;}
#destaques ul li a#proximo-destaque:hover{ background-position:bottom right;}
#destaques ul li a#destaque-anterior:hover{ background-position:bottom left;}

/****** HOME: LISTA DE ALUNOS ******/
#lista-alunos{ width:100%; float:left; padding-bottom:60px;}
#lista-alunos h3{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:200; font-size:25px; line-height:25px; color:#8d1a13; margin:50px 0 0 30px;}
#lista-alunos p.descricao{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; line-height:28px; color:#6e6e6e; margin:0; padding-bottom:30px; border-bottom:1px solid #ccc; margin-left: 30px;}

/****** HOME: MENU DE FILTROS ******/
#lista-alunos ul#sidebar{ float:left; width:210px; margin:30px 0 0 30px; padding:0;}
#lista-alunos ul#sidebar li{ list-style-type:none; position:relative;}
#lista-alunos ul#sidebar li a{ display:block; position:relative; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; letter-spacing:-1px; color:#8d1a13; text-transform:uppercase; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; width:208px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#lista-alunos ul#sidebar li a span.seta{ display:none; height:48px; width:6px; position:absolute; top:0; right:-6px; background:url(img/filtros-seta.png) left center no-repeat;}
#lista-alunos ul#sidebar li a.submit{ background:url(img/botao-filtros-bullet.png) #8d1a13 10px center no-repeat; color:#fff; border-color:#464646;}
#lista-alunos ul#sidebar li a.submit:hover{ background-color:#500e0a;}

#lista-alunos ul#sidebar li ul.selecionados{ margin:20px 0 20px 0; padding:0; background: #fff;}
#lista-alunos ul#sidebar li ul.selecionados li{}
#lista-alunos ul#sidebar li ul.selecionados li a{ text-transform:none; color#454545; background-image:url(img/subfiltros-bullet.png); border:none; line-height:28px; height:28px; letter-spacing:normal;}
#lista-alunos ul#sidebar li ul.selecionados li a:hover{ background-color:transparent;}

#lista-alunos ul#sidebar li ul.tudo{ margin:0; padding:6px 0; border-top:3px solid #8d1a13; background-color:#ebebeb; position:absolute; top:0; left:230px; width:702px; display:none; z-index: 30;}
#lista-alunos ul#sidebar li ul.tudo li{ float:left;}
#lista-alunos ul#sidebar li ul.tudo li a{ margin:6px 12px; border:1px dashed #6e6e6e; background-image:none; color:#6e6e6e; text-transform:lowercase; letter-spacing:0; text-align:center; text-indent:0;}
#lista-alunos ul#sidebar li ul.tudo li a.selecionados, #lista-alunos ul#sidebar li ul.tudo li a:hover{ background-color:#f5f5f5; border-style:solid;}

/****** HOME: CONTEÚDO ******/
#lista-alunos ul#conteudo{ float: left; width: 720px; padding: 23px 15px; margin: 0; z-index: 10;}
#lista-alunos ul#conteudo li{ float: left; width: 210px; margin: 0 15px 60px 15px; padding-top: 7px; list-style-type:none; position:relative;}
#lista-alunos ul#conteudo li a{ display: block; float: left; text-decoration: none; color: #6e6e6e;}
#lista-alunos ul#conteudo li img{ float: left;}
#lista-alunos ul#conteudo li h4{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 18px; letter-spacing: -1px; line-height: 50px; height: 50px; border-bottom: 1px solid #6e6e6e; width: 190px; padding: 0 10px; margin: 0;}
#lista-alunos ul#conteudo li .info{ position: absolute; top: 220px; left: 0; padding: 30px 0; display: none; background:#8d1a13; z-index: 20;}
#lista-alunos ul#conteudo li .info p{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 13px; width: 190px; padding: 0 10px; margin: 0; color: #fff;}
#lista-alunos ul#conteudo li .info span{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 13px; width: 190px; padding: 20px 10px 0 10px; margin: 0; color: #232323;}

/****** TURMA: HEADER ******/
#header{ float: left; width: 100%; background: url(img/bg-Destaques.jpg)center -40px repeat-x;}
#header .wrap{ width: 930px;}
#header #info{ float: left; width: 720px; height: 282px;}
#header #info h2{ float: left; width: 100%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: #2e2e2e; text-transform: uppercase; margin: 0; padding: 70px 0 10px 0;}
#header #info a{ float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 25px; color: #8d1a13; text-decoration: none;}
#header #info a:hover{ text-decoration: underline;}
#header #info img{ float: left; padding-left: 8px;}
#header #info ul{ float: left; margin: 0; padding: 30px 0 0 0;}
#header #info ul li{ list-style-type: none; float: left; width: 50%; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 37px; color: #454545;}
#header #info ul li a{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 37px; color: #454545; text-decoration: none;}
#header #info ul li img{ padding: 2px 8px 2px 0;}
#header img.foto{ border-top: 9px solid #8d1a13; padding: 0; position: absolute; top: 0; right: 0;}
#header #resumo{ width: 210px; position: absolute; top: 282px; right: 0; background: #8d1a13; z-index: 30; padding-bottom: 50px;}
#header #resumo span{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 15px; line-height: 25px; color: #232323; width: 190px; padding: 40px 10px 0 10px; float: left;}
#header #resumo ul{ float: left; width: 190px; padding: 0 10px; margin: 0;}
#header #resumo ul li{ font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 15px; line-height: 25px; color: #fff; list-style-type: none;}

/****** TURMA: DETALHES ******/
#detalhes{ width: 100%; float: left;}
#detalhes ul{margin: 0; padding: 50px 0 50px 30px; float: left; width: 720px}
#detalhes ul li{list-style-type: none; float: left;}
#detalhes ul li a{ display:inline-block; float: left; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight:400; font-size:15px; line-height:46px; text-indent:44px; padding-right: 15px; margin-right: 20px; color:#8d1a13; border:1px solid #8d1a13; background:#fff; text-decoration:none; height:46px; background:url(img/filtros-bullet.png) 10px center no-repeat;}
#detalhes ul li a:hover, #detalhes ul li a.active{ background:#8d1a13 url(img/filtros-bullet-hover.png) 10px center no-repeat; color: #fff;}









